# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Environment variables
.env

# SQLite database (optional)
db.sqlite3

# Django static and media files
staticfiles/
media/

# VS Code settings (optional)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
